target/
Cargo.lock
*.obj
*.exe
*.exp
*.lib
*.pdb

# Exclude PDB helper DLL built.
stacktrace/resolve_stacktrace/pdbhelper.dll

# Exclude the stacktrace test collateral x64.pdb file from being ignored.
!stacktrace/src/x64/tests/collateral/x64.pdb
